examServer/target/
taskmodel/addon/autotool-addon/target/
taskmodel/addon/junit-addon-correction-interfaces/target/
taskmodel/addon/junit-addon-correction/target/
taskmodel/addon/junit-addon/target/
taskmodel/drawTask/target/
taskmodel/taskmodel-api/target/
taskmodel/taskmodel-core-view/target/
taskmodel/taskmodel-core/target/
taskmodel/taskmodel-schema/target/

