<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <!-- LookupDao: JAXB implementation -->
    <bean id="lookupDao" class="de.thorstenberger.examServer.dao.xml.RoleAndLookupDaoImpl">
    </bean>

    <!-- UserDao: Hibernate implementation -->
    <bean id="userDao" class="de.thorstenberger.examServer.dao.xml.UserDaoJAXB">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="roleDao"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="lookupDao"/>
		</constructor-arg>
    </bean>

    <!-- RoleDao: Hibernate implementation -->
    <bean id="roleDao" class="de.thorstenberger.examServer.dao.xml.RoleAndLookupDaoImpl">
    </bean>

    <!-- Add new Daos here -->
    <bean id="taskDefDao" class="de.thorstenberger.examServer.dao.xml.TaskDefDaoImpl">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
    </bean>
    
    <bean id="taskHandlingDao" class="de.thorstenberger.examServer.dao.xml.TaskHandlingDaoImpl">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
    </bean>
    <bean id="previewTaskHandlingDao" class="de.thorstenberger.examServer.dao.xml.ReadOnlyTaskHandlingDaoImpl">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
    </bean>
    
</beans>
