<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- TaskAPI runtime configuration
		Have a lot of fun!
		Thorsten
	 -->
	
	<bean id="TaskManager"
		class="de.thorstenberger.taskmodel.impl.TaskManagerImpl">
		<constructor-arg>
			<ref bean="TaskFactory"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="TaskletContainer"/>
		</constructor-arg>
	</bean>
	
	<bean id="TaskletContainer"
		class="de.thorstenberger.taskmodel.impl.TaskletContainerImpl">
		<constructor-arg>
			<ref bean="TaskFactory"/>
		</constructor-arg>
	</bean>
	
	<!-- Change, or better extend the following implementation to add custom SubTasks -->
	<bean id="ComplexTaskFactory"
		class="de.thorstenberger.taskmodel.complex.impl.ComplexTaskFactoryImpl">
		<constructor-arg>
			<ref bean="ComplexTaskletCorrector"/>
		</constructor-arg>
	</bean>
	
	<bean id="ComplexTaskletCorrector"
		class="de.thorstenberger.taskmodel.complex.ComplexTaskletCorrectorImpl"/>
		
	<bean id="ComplexTaskBuilder"
		class="de.thorstenberger.taskmodel.complex.impl.ComplexTaskBuilderImpl">
				<constructor-arg>
			<ref bean="ComplexTaskFactory"/>
		</constructor-arg>
	</bean>

	<bean id="ComplexTaskDefDAO"
		class="de.thorstenberger.taskmodel.complex.complextaskdef.impl.ComplexTaskDefDAOImpl">
		<constructor-arg>
			<ref bean="ComplexTaskFactory"/>
		</constructor-arg>
	</bean>

	<bean id="ComplexTaskHandlingDAO"
		class="de.thorstenberger.taskmodel.complex.complextaskhandling.impl.ComplexTaskHandlingDAOImpl">
		<constructor-arg>
			<ref bean="ComplexTaskFactory"/>
		</constructor-arg>
	</bean>

	<bean id="UserComplexTaskHandlingDAO"
		class="de.thorstenberger.examServer.dao.xml.UserComplexTaskHandlingDAOImpl">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="ComplexTaskHandlingDAO"/>
		</constructor-arg>
	</bean>
		
	<!-- Note: the following interface has to be implemented by the target server application. -->
	<bean id="TaskFactory"
		class="de.thorstenberger.examServer.pdf.EnhancedTaskFactoryImpl">
		<constructor-arg>
			<ref bean="examServerManager"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="userManager"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="taskDefDao"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="taskHandlingDao"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="ComplexTaskDefDAO"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="UserComplexTaskHandlingDAO"/>
		</constructor-arg>
		<constructor-arg>
			<ref bean="ComplexTaskBuilder"/>
		</constructor-arg>
	</bean>
	
</beans>