/* color: #00251B;  */

body {
	background-color: #cccccc;
	color: #000000;
	margin: 0px;
}

p,ul,ol,li,div,td,th,address,blockquote,nobr,i,b
     { font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }

.problem td{ text-align: center; }

small
     { font-size: 11px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
a:link
     { color: #00327D }

.copytext { color: #aaaaaa; font-size: 10px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.copytextlink { color: #777777; font-size: 10px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.inactivelink { color: #777777; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif ; font-style: italic}
.statusText { color: #ff9900; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.headergruen { color: #009933; font-weight: bold; font-size: 13px }
.headerblau { color: #003366; font-weight: bold; font-size: 13px }
.headerblau2 { color: #6699CC; font-weight: bold; font-size: 14px }
.headerweiss { color: #ffffff; font-weight: bold; font-size: 12px }
.subheaderblau { color: #003366 }

.copytextwhite { color: #ffffff; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.copytextred { color: #ff9900; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.forms { font-size: 10px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.header { color: #333333; font-weight: bold; font-size: 14px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif ; border: 1px #eeeeee dotted; padding:2px 2px; text-align: center; list-style-type: none}
.links { color: #000000; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif; text-decoration: none }
.subheader { color: #000000; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.subheaderred { color: #003366; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.subheaderwhite { color: #ffffff; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.subheaderblue { color: #6699CC; font-weight: bold; font-size: 12px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }
.allheader { color: #66CCFF; font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, Geneva, Verdana, sans-serif }

.FailureMessage {  font-family: Arial, Helvetica, sans-serif; font-size: 13px; font-style: normal; font-weight: normal; color: #FF0000}
legend {  font-family: "Times New Roman", Times, serif; font-size: 15px; color: #0046D5; font-weight: normal; padding-top: 5px; padding-bottom: 5px; }
fieldset {  border: 1px #BFB8BF solid; -moz-border-radius: 15px; padding:10px; background-color: #ffffff; }

.correction fieldset{
	background: url(pics/fade_black_white_bg.jpg);
}

a.MenuLink:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: underline; color: #00327D; }
a.MenuLink:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: underline; color: #00327D;}
a.MenuLink:active {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; text-decoration: underline; color: #00327D;}
a.MenuLink:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: orange; text-decoration: none; }

.listing { padding: 2px 2px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; padding-left: 8px; padding-right: 8px;}
.listinghead {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; padding-top: 2px; padding-right: 2px; padding-bottom: 2px; padding-left: 2px}
.newsbody {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FAFBFC; border-color: #BFB8BF black black; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-style: dotted; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.newsheader {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #718EA5; padding-top: 5px}
.fortune {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #718EA5; border-color: black black orange; border-style: solid; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
.annotationsbody {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; background-color: #FAFBFC; border-color: #BFB8BF black black; padding-top: 4px; padding-right: 4px; padding-bottom: 4px; padding-left: 4px; border-style: dotted; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}
.annotationsheader {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #718EA5; padding-top: 5px}



/* jetzt ein paar Definitionen f�r den TreeIncludeService */

/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr�               |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
	overflow: auto;
	max-width: 200px;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	/*
	overflow: hidden;
	*/
}

.complexTaskNav {  border: dashed; border-width: 1px 0px 0px; border-color: #CCCCCC #EEEEEE}
.ComplexNavHeadline {  color: #0099FF; font-weight: lighter; font-family: Arial, Helvetica, sans-serif; font-size: 14px}
.ComplexNavFieldset {  border: 1px #FFFFFF solid}
.ComplexNavHR {  color: #FF0000; border-style: solid; font-weight: normal}
.ComplexTaskSubmitText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #336699}
.ComplexTaskSubmitTextBold {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; font-style: normal}
.ComplexHeader {  font-family: Arial, Helvetica, sans-serif; font-size: 11px; border: 1px #EEEEEE dotted}
.ComplexTaskPoints {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; border-color: #bfb8bf black black #CCCCCC; background-color: #fafbfc; border-style: dotted; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px}

a.complexTaskNavLegend:link {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; color: #00327D; }
a.complexTaskNavLegend:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; color: #00327D;}
a.complexTaskNavLegend:active {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; text-decoration: none; color: #00327D;}
a.complexTaskNavLegend:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: orange; text-decoration: underline; }

a.complexTaskLink:link {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #00327D; }
a.complexTaskLink:visited {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #00327D;}
a.complexTaskLink:active {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; text-decoration: none; color: #00327D;}
a.complexTaskLink:hover {  font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: orange; text-decoration: underline; }

fieldset.complexTask {  border: 1px #BFB8BF solid; -moz-border-radius: 15px; padding-top: 0px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; background-color: #FFFFFF; }
legend.complexTask {  font-family: "Times New Roman", Times, serif; font-size: 15px; color: #0046D5; font-weight: normal; padding-top: 5px; padding-bottom: 0px; }
.ComplexTaskHint {  font-family: Arial, Helvetica, sans-serif; font-size: 10px; border-color: #bfb8bf black black #CCCCCC; background-color: #fafbfc; border-style: dotted; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px; padding-top: 2px; padding-bottom: 2px }
select {  font-family: Arial, Helvetica, sans-serif; font-size: 12px}
.Cloze_Gap {  background-color: #FFFF66}
.annotation {  font-size: 12px; border-style: dashed; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; font-family: Arial, Helvetica, sans-serif}

.Cloze_CorrectorLabel { font-size: 10px; font-weight: bold; }

/* DisplayTag */

.displaytag table {
	border: 1px solid #666;
	width: 80%;
	margin: 20px 0 20px 0;
	border-width: 1px;
	border-style: solid;
	border-color: #636363;
	padding: 2.5em;
}

.displaytag th, .displaytag td {
	padding: 2px 4px 2px 4px;
	text-align: left;
	vertical-align: top;
	font-size: 8pt;
}

.displaytag thead tr {
	background-color: #fc0;
}

.displaytag.forum thead tr {
	background-color: #CAD5E3;
}

.displaytag th.sorted {
	background-color: orange;
}

.displaytag.forum th.sorted {
	background-color: orange;
}

.displaytag th a, .displaytag th a:visited {
	color: black;
}

.displaytag th a:hover {
	text-decoration: underline;
	color: black;
}

.displaytag th.sorted a, .displaytag th.sortable a {
	background-position: right;
	background-repeat: no-repeat;
	display: block;
	width: 100%;
}

.displaytag th.sortable a {
	background-image: url(dt/arrow_off.png);
}

.displaytag th.order1 a {
	background-image: url(dt/arrow_down.png);
}

.displaytag th.order2 a {
	background-image: url(dt/arrow_up.png);
}

.displaytag tr.odd {
	background-color: #fff;
}

.displaytag tr.tableRowEven, .displaytag tr.even {
	background-color: #fea;
}

.displaytag.forum tr.tableRowEven, .displaytag.forum tr.even {
	background-color: #EBF2FA;
}

.displaytag div.exportlinks {
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 2px 0 10px 0;
	width: 79%;
}

.displaytag span.export {
	padding: 0 4px 1px 20px;
	display: inline;
/*	display: inline-block; */
	cursor: pointer;
}

.displaytag span.excel {
	background-image: url(dt/ico_file_excel.png);
}

.displaytag span.csv {
	background-image: url(dt/ico_file_csv.png);
}

.displaytag span.xml {
	background-image: url(dt/ico_file_xml.png);
}

.displaytag span.pdf {
	background-image: url(dt/ico_file_pdf.png);
}

.displaytag span.rtf {
	background-image: url(dt/ico_file_rtf.png);
}

span.pagebanner {
	font-size: 8pt;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
/*	width: 79%;*/
	width: 375px;
	margin-top: 10px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	font-size: 8pt;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
/*	width: 79%;*/
	width: 375px;
	display: block;
	border-top: none;
/*	margin-bottom: -5px;*/
}

div.topwatch {
  position: fixed;
  top: 30%;
  left: 1%;
  background-color: #cccccc;
  color:black;
  opacity: 1;
  border: 1px #AFA8AF solid; 
  -moz-border-radius: 10px;
  display: none;
  padding: 5px;
  font-size: 1em;
}

